<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link href="/public/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="index.js"></script>
    <script src="blog.js"></script>
    <title>Personal Web</title>
</head>

<body>
    <!-- Navbar -->
    <div class="sticky">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand me-5 ms-5" href="/blog"><img src="/public/assets/logo.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-orange me-3 " aria-current="page" href="/blog">Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                >Add My Project</a
              >
            </li>
          </ul>
          <a href="/Contact-me" class="btn btn-black me-5">Contact Me</a>
            </div>
        </div>
    </nav>
    </div>
    <!-- End Navbar -->

    <!-- CONTENT -->

    <div class="container-main">

        <div class="container-content">

            <div class="left-side">
                <h4 style="font-family:sans-serif;"><b>Hi! Welcome to my Gibran Arlingga</b></h4>
                <p style="text-align: justify; font-family: Arial, Helvetica, sans-serif; font-size: 18;">
                    perkenalkan saya M.G.Arlingga All Buchori, Tempat/tanggal lahir Jambi, 5 agustus 2001, tinggal di Jambi dan kuliah di univeristas jambi, umur saya 20 tahun saya sedang mengikuti bootcamp di dumbways.id untuk menjadi seorang fullstack developer.
                </p>
                <div style="margin-top: 30;">
                    <a href="tel:+6281271094989">
                        <button class="button" style="
                        font-family: sans-serif;
                        background: black;
                        color: white;
                        border: none;
                        border-radius: 100px;
                        padding: 10px 30px;
                        cursor: pointer;
                        ">contact</button></a>&nbsp;&nbsp;
                    <b>download CV</b> <a class="guambar" href="https://dl.dropboxusercontent.com/s/kph9imi1x61o1pj/Turquoise-On-Dark-Grey-Resume.zip"><i class="fa-solid fa-download" style="padding-left: 7px; color: black;"></i></a>
                    </i>
                </div>
                <div style="margin: auto; 
                font-size: 30px;
                color: black;
                padding: 5px;
                border-radius: 50%;
                margin-top: 40;">
                    <a class="linkedin" href="https://id.linkedin.com/in/gibran-arlingga-0aa93a218">
                        <i class="fa-brands fa-linkedin" style="font-size: 30px; padding-right: 15px; color: black;"></i></a>
                    <a class="instagram" href="https://www.instagram.com/gibranarlingga10">
                        <i class="fa-brands fa-instagram-square" style="font-size: 30px;padding-right: 15px;color: black;"></i></a>
                    <a class="facebook" href="https://www.facebook.com/gibran.gibran.313371">
                        <i class="fa-brands fa-facebook" style="font-size: 30px;padding-right: 15px;color: black;"></i></a>
                    <a class="twitter" href="https://twitter.com/gibran_arlingga">
                        <i class="fa-brands fa-twitter-square" style="font-size: 30px;padding-right: 15px;color: black;"></i></a>
                </div>
            </div>

            <div class="right-side">
                <div style=" 
                    width: 250px;
                    margin: auto;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    background: white;
                    border-radius: 3px;
                    box-shadow: 1px 1px 1px 1px #888888;">
                    <img src="/public/assets/foto.jpeg" style=" 
                         width: 250px;
                         border-radius: 3px;
                         height: 70%;
                         ">
                    <H4 style="font-family: sans-serif; text-align: center;">Gibran Arlingga</H4>
                    <p style="font-family: 
                         sans-serif; text-align: center; 
                         padding-bottom: 10px; 
                         font-size: 10px;">Fullstack Developer</p>
                </div>
            </div>

        </div>

    </div>
    <div class="bg">
        <h1>MY PROJECT</h1>
        <div class="myproject" id="content">
            <!-- dynamic content would be here -->
            <div class="container-projects">
                <div class="flex-container">
                    <div class="card">
                        <img src="/public/assets/logo1.jpg">
                        <h2><a href="/detail/4" target="_blank">Dumbways Mobile App = 2021</h2></a>
                            <div style="color: gray;">
                                durasi : 3 Month
                            </div>
                            <p>Lorem ipsum, atau ringkasnya lipsum, adalah teks standar yang ditempatkan untuk mendemostrasikan elemen grafis atau presentasi visual seperti font, tipografi, dan tata letak</p>
                            {{#if islogin}}
                            <div class="logo">
                                <img src="/public/assets/node.png" />
                                <img src="/public/assets/next.png" />
                                <img src="/public/assets/react.png" />
                                <img src="/public/assets/type.png" />
                            </div>
                            <div class="btn-group">
                                <a href="#" class="btn-edit">Edit</a>
                                <a href="#" class="btn-delete">Delete</a>
                            </div>
                            {{else}}
                            <h6 style="font-family: 'Poppins', sans-serif;">Tolong harap login terlebih dahulu...</h6>
                            {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>